
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>	

<script>
    // Block Vue JS  
    new Vue({
       
      // id de la section ou vue js aura effet
    el: '#newsletter',
        // end 
        
        // varaible en rapport au v-model et variable permettant de traiter les erreurs
    data: {
        email:'',
        message:'',
        isregister: false,
        loader: false,
        isSuccess: false,
        error: false,
        base_url: window.location.protocol + "//" + window.location.host + "/",
    },
        //end 
    delimiters: ["${", "}"],
        
        // code à exécuter au chargement de la page (fonction,changement de variable...)
    mounted() { },
    
        // les différentes fonctions 
    methods: {
        newsletter: function () {
        
            // vérification des données 
           if (!this.isregister) {
               this.error = false
               this.isSuccess = false
               this.isregister = true
               if (this.email == "") {
                   this.message = "Veuillez remplir correctement le champs";
                   this.error = true
                   this.isSuccess = false
                   this.isregister = false;
               } else {
                //    permet d'imploder des fichiers
                   
                   // stocker les données 
                   let formData = new FormData();
                   formData.append('email', this.email);
                   
                   // post des données vers le back-end 
                   axios.defaults.xsrfCookieName = 'csrftoken'
                   axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                   axios.post(this.base_url + 'is_newsletter',
                       formData,
                       {
                           headers: {
                               'Content-Type': 'multipart/form-data',
                           }
                       
                       // traitement sur les reponses 
                       }).then(response => {
                       console.log(response)
                       this.isregister = false;
                       
                       
                       // si tout s'est bien passé 
                       if (response.data.success) {
                           
                           // permet d'afficher un message à l'ecran 
                           this.isSuccess = true
                           this.error = false
                           this.message = response.data.message
                           this.success = response.data.success
                           this.email = ""
                           this.subject = ""
                           this.messages = ""
                           this.name	= ""
                           this.tel = ""
                           // redirection 
                        //    window.location.replace(this.base_url + 'about/contact');
                           
                           // en cas d'erreur 
                       } else {
                           this.error = true
                           this.message = response.data.message
                           this.success = response.data.success
                           this.isSuccess = false
                       }
                       console.log("success variable" + this.isSuccess)
                       // console.log("success variable"+this.error)
                   })
                       .catch((err) => {
                           this.isregister = false;
                           console.log(err);
                       })
               }
           }
       },
    }
     });

    </script>